core.db
*~
*.DS_Store
bin/*
*/bin/*
static/*
*/static/*
*.app
*.exe
*.dll
*.pyc
*.pdf
*.dvi
*.png
*.jpg
*.tiff
*.gif
*.ps
*.jpeg
*.xcf
*.Rhistory
*.dia
*.gz
*.tar
*.tar.gz
*.gz.tar
*.zip
*.7zip
*.rar
*.sublime-project
*.sublime-workspace